<div class="form-wrapper row">
  <div class="small-12 medium-6 large-4 columns">
    <p class="form-title">ADD MEMBER</p>
    <%= render 'form' %>
    <%= link_to 'cancel', edit_band_path(@band) %>
  </div>
</div>
