<div class="row">
  <div class="small-12 columns">
    <p class="form-title">ADD MEMBER</p>
  </div>
</div>
<div class="row" id="new-band-form">
  <div class="large-4 medium-5 small-12 columns">
    <%= render 'form' %>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= link_to 'cancel', edit_band_path(@band) %>
  </div>
</div>
