<p id="edit-bands">bands</p>
<% @bands.each do |band| %>
  <div class="user-band">
    <% if current_user.is_owner?(band) %>
      <%= link_to icon_torso, edit_band_path(band), class: "user-band-owner" %>
    <% else %>
      <%= link_to icon_x, band_membership_path(band, band.membership_for(@user)), method: :delete, class: "user-band-remove", data: {confirm: "Are you SURE you want to leave this band? You will lose access to all band songs, notes, and communications."} %>
    <% end %>
    <p class="user-band-name"><%= band.name %></p>
  </div>
<% end %>
