.header-wrapper {
  position: relative;
  margin-top: 2.5em;
}

.header-title {
  display: inline-block;
  background-color: $primary-color;
  color: $text-dark;
  font-weight: bold;
}

.header-icon {
  font-size: $icon-large;
}
