.navbar-link a {
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  color: $white;
}

.navbar-link a:hover {
  background-color: $primary-color;
  color: $text-dark;
}

.title-bar-left-content {
}
