.mp {
  margin-top: 1em;
}

#mp-waveform,
#mp-timeline {
  margin: .5em;
}

#waveform-loading {
  position: relative;
  width: 100%;
  top: 40px;
  text-align: center;
}

.mp-controls a {
  font-size: $icon-medium;
  text-align: center;
}

.mp-controls .button {
  width: 100%;
  padding: .5em 2em .5em 2em;
  background-color: $dark-gray;
}

.mp-controls .button:hover {
  color: $primary-color;
}

.mp-controls-play:focus,
.mp-controls-restart:focus,
.mp-controls-replay:focus {
  color: $text-dark;
}

// .mp-controls-loop:focus,
// .mp-controls-slow:focus,
// .mp-controls-fast:focus {
//   color: $primary-color;
// }
