// PARTIAL
.band-index {
  padding: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: $box-shadow;
  background-color: $dark-grey;

  a{
    color: $primary-color;
    font-size: 24px;
  }
}

.band-delete-icon { float: left; }

.band-edit-icon { float: right; }

// EDIT
.band-member-delete {
  padding: .25em;
  color: $text-notice;
  font-size: $icon-xsmall;
}

.band-member-email {
  display: inline-block;
}

#members-edit {
  margin-top: 2em;
  font-size: 14px;
}
