// PARTIAL
.band-index {
  padding: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: $box-shadow;
  background-color: $dark-grey;

  a{
    color: $primary-color;
    font-size: 24px;
  }
}

.band-edit-icon { float: right; }

// EDIT
.band-member {
  margin-bottom: .5em;
}

.band-member-delete {
  font-size: $icon-xsmall;
  padding-right: .25em;
}

.band-member-delete:hover {
  color: $text-notice;
}

.band-member-email {
  position: relative;
  bottom: .2em;
  display: inline-block;
  margin-bottom: 0;
}

#members-edit {
  margin-top: 2em;
  margin-bottom: .5em;
  font-size: 14px;
}
