// COLOR SCHEME
$primary-color: #00ff99;
$light-grey: #ccc;
$dark-grey: #262626;
// TEXTS
$text-dark: #333;
// ICONS
$icon-large: 3em;
$icon-small: 1em;

body {
  background-color: $light-grey;
}

.body-wrapper {
  max-width: 75rem;
  min-height: 100vw;
  margin: auto;
  background-color: $dark-grey;
}

#notice { color: $light-grey }

.form-title {
  margin-top: 1rem;
  font-weight: bold;
}

.create-new-item {
  font-size: 3em;
}

.submit-button input {
  color: $text-dark;
}

.submit-button input:hover {
  color: $text-dark;
}
