// COLOR SCHEME
$primary-color: #00ff99;
$light-grey: #ccc;
$dark-grey: #262626;
// TEXTS
$text-notice: #ff5050;
$text-dark: #333;
// ICONS
$icon-large: 3em;
$icon-small: 1em;

body {
  background-color: $light-grey;
  color: $white;
}

.body-wrapper {
  max-width: 75rem;
  padding-bottom: 5em;
  margin: auto;
  background-color: $dark-grey;
}

.body-content { width: 100%; }

#notice {
  height: 2.5em;
  width: 100%;
  padding: .5em;
  color: $text-notice;
  text-align: center;
}
