// HEADER
#song-key { color: $text-dark; }

// AUDIO PLAYER
#song-player {
  margin-top: 1em;
  margin-bottom: 1em;
}

// LYRICS + NOTES
.song-content-wrapper {
  margin-left: .5em;
  margin-right: .5em;
}

#song-comment-wrapper {
  background-color: $dark-grey;
}

.song-content-box {
  margin-top: 1em;
  margin-bottom: 1em;
}

.song-content-header {
  margin-bottom: .5em;
  color: $text-dark;
  font-size: 20px;
}

.song-content-body {
  padding: .5em;
  box-shadow: $box-shadow;
  background-color: $dark-grey;
  color: $white;
}

// COMMENT FORM
#new_comment {
  padding: .5em;
}

.comment_body {
  overflow: hidden;
  padding-right: .5em;
}

#comment_body {
  width: 100%;
}

#comment-form-submit {
  float: right;
  color: $text-dark;
  font-weight: bold;
}

// COMMENTS
.song-comment {
  padding-top: .5em;
  padding-bottom: .5em;
  margin-right: .5em;
  margin-bottom: 0;
  margin-left: .5em;
  border-top: 1px dashed $dark-gray;
}

.comment-username {
  color: $primary-color;
}

// PARTIAL
.song-index {
  padding-top: .5em;
  padding-bottom: .5em;

  a {
    color: $black;
    font-size: 24px;
  }

  a:hover {
    box-shadow: $box-shadow;
    background-color: $black;
    color: $white;
  }
}
