// .user-delete-icon {
//   float: right;
// }

// EDIT
.user-band {
  margin-bottom: .5em;
}

.user-band-remove,
.user-band-owner {
  font-size: $icon-xsmall;
  padding-right: .25em;
}

.user-band-remove:hover {
  color: $text-notice;
}

.user-band-name {
  position: relative;
  bottom: .2em;
  display: inline-block;
  margin-bottom: 0;
}

#edit-bands {
  margin-top: 2em;
  margin-bottom: .5em;
  font-size: 14px;
}
