/* Extra markup and styles for table-esque vertical and horizontal centering */
.welcome-wrapper {
  display: table;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: image-url("welcome.jpg");
  background-size: cover;
  color: $primary-color;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  width: 100%;
  height: 100%; /* For at least Firefox */
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.welcome-content {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.welcome-button {
  margin: .5em;
}

#welcome-title {
  color: $light-grey;
}

#welcome-line {
  color: $light-grey;
}
