<div class="mp row">
  <%= audio_tag attachment_url(@song.attachments.first, :file), class: "mp-audio" %>

  <div class="small-12 columns">
    <div id="mp-waveform"></div>
    <div id="mp-timeline"></div>
  </div>

  <div class="mp-controls">
    <div class="small-4 medium-2 large-2 columns text-center">
      <a class="mp-controls-play button" href="#play">
        <i class="fi-play"></i>
      </a>
    </div>
    <div class="small-4 medium-2 large-2 columns text-center">
      <a class="mp-controls-restart button" href="#restart">
        <i class="fi-previous"></i>
      </a>
    </div>
    <div class="small-4 medium-2 large-2 columns text-center">
      <a class="mp-controls-replay button" href="#replay">
        <i class="fi-rewind-ten"></i>
      </a>
    </div>
    <div class="small-4 medium-2 large-2 columns text-center">
      <a class="mp-controls-loop button" href="#loop">
        <i class="fi-loop"></i>
      </a>
    </div>
    <div class="small-4 medium-2 large-2 columns text-center">
      <a class="mp-controls-slow button" href="#slow">
        <i class="fi-arrow-down"></i>
      </a>
    </div>
    <div class="small-4 medium-2 large-2 columns text-center">
      <a class="mp-controls-fast button" href="#fast">
        <i class="fi-arrow-up"></i>
      </a>
    </div>
  </div>
</div>
