<div class="row text-center">
  <div class="small-1 columns">
    <%= link_to '<i class="fi-arrow-left"></i>'.html_safe, bands_path, class: "back-button" %>
  </div>
  <div class="small-10 columns end text-center">
    <h3 class="page-title" id="band-name"><%=@band.name.downcase %></h3>
  </div>
</div>

<% if @songs.count != 0 %>
  <% @songs.each do |song| %>
    <div class="row song-row">
      <div class="small-10 small-push-1 text-center song-column">
        <%= link_to song.name.downcase, band_song_path(id: song.id) %>
      </div>
    </div>
  <% end %>
<% else %>
  <p class="text-center">there are no songs for this band. add one by clicking '+' below!</p>
<% end %>


<br>

<div class="row text-center">
  <%= link_to '<i class="fi-plus"></i>'.html_safe, new_band_song_path, class: "create-new-item" %>
</div>
