<!-- HEADER -->
<%= render 'header',
    item: @band,
    icon_left: icon_back,
    path_left: bands_path,
    icon_right: icon_edit,
    path_right: edit_band_path(id: @band.id)
%>

<!-- SONGS -->
<div class="row">
  <div class="small-10 small-push-1 columns end text-center">
    <% if @band.has_songs? %>
      <%= render @songs %>
    <% else %>
      <p class="text-center">there are no songs for this band. add one by clicking '+' below!</p>
    <% end %>
  </div>
</div>

<br>

<!-- ADD SONG -->
<div class="row text-center">
  <%= link_to icon_add.html_safe, new_band_song_path, class: "header-icon" %>
</div>
