<p id="members-edit">members</p>
<% @band.users.each do |user| %>
  <div class="band-member">
    <% unless only_member? %>
      <%= link_to '<i class="fi-x"></i>'.html_safe, band_membership_path(@band, @band.membership_for(user)), method: :delete, class: "band-member-delete" %>
    <% end %>
    <p class="band-member-email"><%= user.email %></p>
  </div>
<% end %>
