<p id="notice"><%= notice %></p>

<% @bands.each do |band| %>
  <div class="row band-index">
    <div class="small-12 medium-12 large-12 columns text-center align-middle"><%= link_to band.name.upcase, band_songs_path(band) %></div>
  </div>
<% end %>

<div class="row text-center">
  <%= link_to 'New Band', new_band_path %>
</div>
