<div class="row text-center">
  <h3 class="page-title">bands</h3>
</div>

<% @bands.each do |band| %>
  <div class="row band-row">
    <div class="small-8 small-push-2 columns text-center band-column"><%= link_to band.name.downcase, band_songs_path(band) %></div>
  </div>
<% end %>

<div class="row text-center">
  <%= link_to '<i class="fi-plus"></i>'.html_safe, new_band_path, class: "create-new-item" %>
</div>
