<!-- HEADER -->
<div class="row text-center">
  <h3 class="page-title">BANDS</h3>
</div>

<!-- BANDS -->
<div class="row band-row">
  <div class="small-10 small-push-1 columns text-center">
    <% if user_has_bands? %>
      <%= render @bands %>
    <% else %>
      <p class="text-center">you're not a member of any bands yet. create one by clicking '+' below!</p>
    <% end %>
  </div>
</div>

<!-- ADD BAND -->
<div class="row text-center">
  <%= link_to icon_add.html_safe, new_band_path, class: "header-icon" %>
</div>
