<p>
  You have been added to the group for <%= @invite.band.name %> on FEVVER.
</p>
<p>
  Click the link below to see your new band and start making music today!
</p>
<p>
  <%= link_to "Login to FEVVER", @url %>
</p>
