<p>
  You have been invited to the group for <%= @invite.band.name %> on FEVVER.
</p>
<p>
  Click the link below to join your band and start making music today!
</p>
<p>
  <%= link_to "Create FEVVER account", @url %>
</p>
