/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= require foundation_and_overrides
 // @include foundation-grid;
 // @include foundation-flex-grid;
 */

@import 'foundation-icons';
@import url(https://fonts.googleapis.com/css?family=Roboto);

// body {margin-top: 2rem;}

$menu-background: #000;
$primary-color: #00ff99;

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #262626;
}

.title-bar {
  background: $menu-background;
  margin: auto;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
  max-width: 75rem;

  .title-bar-title {
    padding: 0.7rem 0rem 0.7rem 1rem;
    vertical-align: middle;
    font-size: 14px;
    color: #fff;
  }

  .title-bar-title:hover {
    color: $primary-color;
  }
}

.form-title {
  margin-top: 1rem;
  font-weight: bold;
}

.page-title {
  display: inline-block;
  font-weight: bold;
}

.back-button {
  font-size: 3em;
}

.create-new-item {
  font-size: 3em;
}

.submit-button input {
  color: #333;
}

.submit-button input:hover {
  color: #333;
}

// body {
//   background-color: #ccc;
// }
