// Place all the styles related to the Bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.band-index {
  background-color: #333;
  padding: 2em;
  margin: 1em 0em 1em 0em;

  a{
    color: #00ff99;
    font-size: 24px;
  }
}

#new-band {
  font-size: 2em;
}
