// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #00ff99;

// HEADER
.section-header, {
  overflow: hidden;
  background-color: $primary-color;
  font-size: 16px;
  font-weight: bold;
}

// AUDIO PLAYER


// LYRICS + NOTES


// COMMENTS

.song-comment {
  padding: .5em;
  border-bottom: 1px solid $primary-color;
  margin: 0;
}

.song-content {
  margin-left: 1em;
  margin-right: 1em;
}

.song-row {
  margin-top: .5em;
  margin-bottom: .5em;

  .song-column {
    height: 100%;
    padding: 1em;

    a {
      color: #000;
      font-size: 24px;
    }

    a:hover { color: #fff; }
  }
}

#song-player {
  margin-top: 1em;
  margin-bottom: 2em;
}

#band-name { background-color: $primary-color; }

#comment-button {
  margin-top: 1em;
  color: #333;
}
#comment-form-submit {
  padding-left: 0;

  input { color: #333; }
}

#edit-song-cancel { margin-left: 1em; }

#song-comment-form { margin-top: 5em; }

#song-lyrics,
#song-notes {
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#song-name {
  background-color: $primary-color;
  color: #333;
}
