// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #00ff99;

#band-name {
  background-color: #00ff99;
}

#comment-button {
  margin-top: 1em;
  color: #333;
}

#comments-section {
}

#edit-song-cancel {
  margin-left: 1em;
}

.song-content {
  margin-left: 1em;
  margin-right: 1em;
}

#song-name {
  background-color: #00ff99;
}

#audio-playback {
  margin-bottom: 2em;
}

#song-lyrics, #song-notes {
  border: 1px solid #ccc;
}

#song-lyrics-header, #song-notes-header, #song-comments-header {
  background-color: $primary-color;
  font-size: 16px;
  font-weight: bold;
}

.song-row {
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  .song-column {
    height: 100%;
    padding: 1em;
    // background-color: #333;

    a {
      color: #000;
      font-size: 24px;
    }

    a:hover {
      color: #fff;
    }
  }
}

.song-comment {
  margin: 0;
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}
