<div class="row text-center header-wrapper">
  <div class="small-1 columns">
    <% if icon_left %>
      <%= link_to icon_left.html_safe, path_left, class: "header-icon" %>
    <% end %>
  </div>

  <div class="small-10 columns text-center">
    <h3 class="header-title"><%= item.name.downcase %></h3>
  </div>

  <div class="small-1 columns end">
    <% if user_is_owner? && icon_right %>
      <%= link_to icon_right.html_safe, path_right, class: "header-icon" %>
    <% end %>
  </div>
</div>
