<div class="header-wrapper row text-center">
  <div class="small-1 columns">
    <% if defined?(icon_left) %>
      <%= link_to icon_left.html_safe, path_left, class: "header-icon" %>
    <% end %>
  </div>

  <div class="small-10 columns text-center">
    <% if defined?(item) %>
      <h3 class="header-title"><%= item.name.downcase %></h3>
    <% end %>
  </div>

  <div class="small-1 columns end">
    <% if defined?(icon_right) && current_user.is_owner?(@band) %>
      <%= link_to icon_right.html_safe, path_right, class: "header-icon" %>
    <% end %>
  </div>
</div>
