<div class="row">
  <div class="title-bar">
    <div class="title-bar-left">
      <button class="menu-icon" type="button"></button>
      <span class="title-bar-title">FEVVER</span>
    </div>
    <div class="title-bar-right">
      <button class="menu-icon" type="button"></button>
    </div>
  </div>
</div>
